@media (min-width: 768px) {
    .left-border {
        border-left: 1px solid black;
        height: 100%;
    }

    .right-border {
        border-right: 1px solid black;
        height: 100%;
    }
}